#topbar {
	display: flex;
	justify-content: space-between;
	background: #1b1b1b;
}

.title {
	display: flex;
	font-size: 20;
	margin: 0;
	justify-content: space-evenly;
}

#buttons {
	display: flex;
	margin: 0;
}

.result {
	font-size: 30;
}

.yang {
	width: 150px;
	height: 20px;
	background: #bde021;
	margin: 5px;
}

.yin {
	width: 60px;
	height: 20px;
	background:  #bde021;
	border: 5px;
	position:relative;
	margin-left: -90px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.yin:after {
	content: "";
	position: absolute;
	left: 90px;
	width: 60px;
	height: 20px;
	background:  #bde021;
}

/* this allows yin psuedo element to change colors */
.yin.changing:after {
	background: orange;
}

.changing {
	background: orange;
}

body {
	background: black;
	text-align: center;
	color: white;
}

#visuals {
	background: #141414;
	padding: 20px;
	margin:auto;
	min-height: 270px;
	/*height: 450px;*/
	width: 340px;
	margin-bottom: 10px;
	border-style: dotted;
	border-color: gold;
}

#hexagram {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 150px;
}

.hexrow {
	display: flex;
	align-items: center;
	flex-basis: 300px;
	justify-content: center;
}

.hexcolumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 150px;
}

#lines {
	font-size: 24;
}



/*Try increasing or decreasing both the height and width of #yinYang!*/


#yinYang{
	margin: auto;
    height: 250px;
    position: relative;
    width: 250px;
}

#yinYang div{
    background: #FFF;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#yinYang div div:first-child{
    background: #000;
    border-radius: 0 999px 999px 0;
    left: 50%;
    position: absolute;
}

#yinYang div div:nth-child(2){
    bottom: 50%;
    left: 25%;
    right: 25%;
}

#yinYang div div:last-child{
    background: #000;
    left: 25%;
    right: 25%;
    top: 50%;
}

#yinYang div div:nth-child(2) div{
    border-radius: 50%;
    bottom: 35%;
    left: 35%;
    right: 35%;
    top: 35%;
}

#yinYang div div:last-child div{
    background: #FFF;
    border-radius: 50%;
    bottom: 35%;
    left: 35%;
    right: 35%;
    top: 35%;
}
