body {
	margin: 0;
}

.dark-mode {
	background: black;
	color: white;
}

.wrapper {
	display: flex;
    flex-direction: column;    
    justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.logo {
	min-height: 50px;
	margin: 10px;
	font-size:2em;
}

#result {
	min-height:22px;
	text-align: center;
}

#reset {
	display: flex;
	background: 0;
	color: white;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	opacity: 0;
	transition: opacity 2s;
}

#reset.fade {
	opacity: 1;
}

.hex-viewer {
	display: flex;
	min-height: 155px;
	width: 200px;
	flex-direction: column;
	justify-content: flex-end;
}

#hexagram {
	opacity: 0;
	transition: opacity 2s;
}

#hexagram.fade {
	opacity: 1;
}

#secondary {
	opacity: 0;
	transition: opacity 2s;
}

#secondary.fade {
	opacity: 1;
}

.cast {
	height: 100%;
	width: 100%;
}

.yang {
	width: 200px;
	height: 20px;
	background: #e7e42a;
	margin: 5 0 5 0;
}

.yin {
	width: 85px;
	height: 20px;
	background:  #e7e42a;
	border: 5px;
	position:relative;
	margin: 5 0 5 0;
}

.yin:after {
	content: "";
	position: absolute;
	left: 115px;
	width: 85px;
	height: 20px;
	background:  #e7e42a;
}

/* this allows yin psuedo element to change colors */
.yin.changing:after {
	background: orange;
}

.changing {
	background: orange;
}


#yinYang{
	margin: auto;
    height: 250px;
    position: relative;
    width: 250px;
}

#yinYang div{
    background: #FFF;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#yinYang div div:first-child{
    background: #000;
    border-radius: 0 999px 999px 0;
    left: 50%;
    position: absolute;
}

#yinYang div div:nth-child(2){
    bottom: 50%;
    left: 25%;
    right: 25%;
}

#yinYang div div:last-child{
    background: #000;
    left: 25%;
    right: 25%;
    top: 50%;
}

#yinYang div div:nth-child(2) div{
    border-radius: 50%;
    bottom: 35%;
    left: 35%;
    right: 35%;
    top: 35%;
}

#yinYang div div:last-child div{
    background: #FFF;
    border-radius: 50%;
    bottom: 35%;
    left: 35%;
    right: 35%;
    top: 35%;
}
