

.yang {
	width: 150px;
	height: 20px;
	background: #ffff66;
	margin: 5px;
}

.yin {
	width: 60px;
	height: 20px;
	background: #ffff66;
	border: 5px;
	position:relative;
	margin-left: -90px;
	margin-top: 5px;
	margin-bottom: 5px;


}

.yin:after {
	content: "";
	position: absolute;
	left: 90px;
	width: 60px;
	height: 20px;
	background: #ffff66;
}

/* this allows yin psuedo element to change colors */
.yin.changing:after {
	background: orange;
}

.changing {
	background: orange;
}

body {
	text-align: center;
}

#hexagram {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 150px;
}

.hexrow {
	display: flex;
	align-items: center;
	flex-basis: 300px;
	justify-content: center;
}

.hexcolumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 150px;
}

#lines {
	font-size: 24;
}

#result {
	font-size: 30;
}




/* https://css-tricks.com/examples/ShapesOfCSS/ */
#yin-yang {
	width: 96px;
	height: 48px;
	background: #eee;
	border-color: red;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
}

#yin-yang:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #eee;
	border: 18px solid red;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

#yin-yang:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: red;
	border: 18px solid #eee;
	border-radius:100%;
	width: 12px;
	height: 12px;
}